@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

body,
html {
  color: #222;
  font-family: "Roboto Mono", sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App div.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App div.content .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 100px;
}

.App div.content .left img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.App div.content .left div.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.App div.content .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #4d77fa;
  padding: 0 0.8em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.App div.content .right .tech-icon {
  font-size: 5em;
}

.App div.content .right .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App div.content .right .techs div {
  width: 33.33%;
  padding-top: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App div.content .right .techs div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.App div.content .right .techs div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.App div.content .right .techs div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.App div.content .right .techs div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.App div.content .right .techs div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.App div.content .right .techs div:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.App div.content .right .a-little-of-myself {
  font-size: 16px;
  padding: 0 0.9em;
  padding-top: 15px;
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.App div.content div.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App div.content div.contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0.3em;
}

.App div.content div.contacts div .icon {
  font-weight: bold;
  color: #4d77fa;
  margin-right: 3px;
}

.App div.content div.contacts div a {
  color: #333;
  font-size: 0.9em;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  div.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.content .right,
  div.content .left {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.content .left {
    background: #efefef;
    padding-top: 0;
  }
  .tech-icon {
    font-size: 3em;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts div {
    width: 50%;
  }
  .techs div {
    width: 50%;
  }
}
/*# sourceMappingURL=app.css.map */